.stocks-container {
    display: flex;

    .stocks-container__block {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        padding: 10px;
    }
}

.filters-container {
    display: flex;

    .filters-container__item {
        padding: 10px;
    }
}