<div class="stocks-container">
    <div class="stocks-container__block">
        <div class="stocks-container__sub-block">
            <div class="filters-container">
                <div class="filters-container__item">     
                    <span>From date</span>
                    <dx-date-box 
                        id="from-date"
                        type="datetime"
                        (onValueChanged)="onDateChanged()"
                        [(value)]="stockCandlesFilters.dateFrom">
                    </dx-date-box>
                </div>
                <div class="filters-container__item">     
                    <span>To date</span>
                    <dx-date-box 
                        id="to-date"
                        type="datetime"
                        (onValueChanged)="onDateChanged()"
                        [(value)]="stockCandlesFilters.dateTo">
                    </dx-date-box>
                </div>
                <div class="filters-container__item">     
                    <span>Resolution</span>
                <dx-select-box
                    [dataSource]="resolutions"
                    displayExpr="key"
                    valueExpr="value"
                    [value]="stockCandlesFilters.selectedResolution"
                    (onSelectionChanged)="onResolutionChanged($event)"></dx-select-box>
                </div>
            </div>
            <dx-chart
                id="chart"
                title="Stock Prices"
                [dataSource]="stockCandlesList">
                <dxi-series
                    name="{{selectedStockSymbol}}"
                    openValueField="o"
                    highValueField="h"
                    lowValueField="l"
                    closeValueField="c">
                </dxi-series>
                <dxo-common-series-settings
                    argumentField="date"
                    type="candlestick">
                </dxo-common-series-settings>
                <dxo-legend itemTextPosition="left"></dxo-legend>
                <dxi-value-axis [tickInterval]="1">
                    <dxo-title text="US dollars"></dxo-title>
                    <dxo-label>
                        <dxo-format
                            type="currency"
                            [precision]="0">
                        </dxo-format>
                    </dxo-label>
                </dxi-value-axis>
                <dxo-argument-axis [workdaysOnly]="true">
                    <dxo-label format="shortDate"></dxo-label>
                </dxo-argument-axis>
                <dxo-tooltip
                    [enabled]="true"
                    location="edge"
                    [customizeTooltip]="customizeTooltip">
                </dxo-tooltip>
            </dx-chart>
        </div>
        <div class="stocks-container__sub-block">
            <div class="title">
                Stock trades realtime
            </div>  
            <dx-data-grid 
            id="gridContainer"
            [dataSource]="stockRealtimeList"
            [showBorders]="true"
            >
                <dxi-column dataField="symbol"></dxi-column>
                <dxi-column dataField="price"></dxi-column>
                <dxi-column dataField="value"></dxi-column>
                <dxi-column dataField="date" dataType="datetime"></dxi-column>

                <dxo-pager [showNavigationButtons]="true"></dxo-pager>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-sorting mode="none"></dxo-sorting>
            </dx-data-grid>
        </div>
    </div>
    <div class="stocks-container__block">
        <dx-data-grid 
        id="gridContainer"
        [dataSource]="stocks"
        [showBorders]="true"
        (onSelectionChanged)="onStockChanged($event)"
        [masterDetail]="{ enabled: true, template: 'detail' }"
        >
            <dxo-selection
                mode="single">
            </dxo-selection>
            <div *dxTemplate="let stoke of 'detail'">
                <app-test-master-detail [symbol]="stoke.data.symbol"></app-test-master-detail>
            </div>
            <dxo-search-panel
                [visible]="true"
                [highlightCaseSensitive]="true"
            ></dxo-search-panel>
            <dxo-load-panel [enabled]="false"></dxo-load-panel>
            <dxo-pager
                [showNavigationButtons]="true">
            </dxo-pager>
            <dxo-sorting mode="none"></dxo-sorting>
        </dx-data-grid>
    </div>
</div>